body{
    background-image: url("https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/042017/untitled-2_63.png?itok=lqvtdQja");
    background-repeat: no-repeat;
    background-size: cover;
}